#carouselExampleControls {
    padding-top: 70px;
    z-index: 0;
}

/* button {
    padding-top:500px;
} */


.carousel-caption {
    z-index: 1;
    text-align: center;
    margin: 10px 240px;
    margin-bottom: 325px;
    background-color: white;
    opacity: 0.55;
    border-radius: 20px;
    
}

p.profil {
    margin: 0;
    font-size: 40px;
    color: #000;
    font-weight: bold;
}

#gambar {
    height: 870px;
}