#img2 {
    height: 350px;
    filter: brightness(35%);
    margin: auto;
}

.electronic {
    font-weight: bolder;
    font-size: 80px;
    margin: auto;
    letter-spacing: 40px;
}

#judul2 {
    margin-top: -140px;
    filter: opacity(50%);
    height: fit-content;
}