

#img3 {
    filter: brightness(35%);
    margin: auto;
}

.essential {
    font-weight: bolder;
    font-size: 80px;
    margin: auto;
    letter-spacing: 40px;
}

#title {
    margin-top: -140px;
    filter: opacity(50%);
    height: fit-content;
}

img#ess {
    min-width: 860px;
    max-height: 300px;
    filter: brightness(55%);
    align-items: center;
}

#outer {
    max-width: 855px;
}