
@import url('https://fonts.googleapis.com/css?family=Lato:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i');

* {
  font-family: Lato, sans-serif;
  box-sizing: border-box;
}
.container {
  padding: 3em;
  background: #fff;
  border-radius: 1em;
}
section.cards {
  display: grid;
  grid-auto-flow: row dense;
  grid-template-columns: repeat(3, 400px);
  grid-template-rows: repeat(5, 290px);
  grid-gap: 16px;
}
.card {
  display: flex;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: rgba(0, 0, 0, 0.05);
}
.vertical {
  flex-direction: column;
  grid-row: span 2;
  grid-column: span 1;
}
.horizontal {
  flex-direction: row;
  grid-row: span 1;
  grid-column: span 2;
}
.reverse-horizontal {
  flex-direction: row-reverse;
  grid-row: span 2;
  grid-column: span 2;
}
.card-image {
  max-width: 900px;
  max-height: 300px;
  margin:20px ;
}
.card-image:hover{
  opacity: 70%;
  transition: 0.3s;
}
.card-content {
  padding: 16px 20px;
  max-width: 900px;
}
.card-type {
  font-variant: small-caps;
  letter-spacing: 2px;
  opacity: 0.9;
  color: palevioletred;
  padding-bottom: 0.5em;
}
.card-title {
  font-size: 18px;
  opacity: 0.8;
  font-weight: 700;
  padding-bottom: 0.5em;
  transition: all 0.25s ease;
}
.card-time-to-read {
  font-style: italic;  
}
.card-excerpt {
  font-size: 16px;
  padding-bottom: 0.5em;
}
.tag {
  display: inline;
  background: papayawhip;
  padding: 0.5em;
  border-radius: 0.5em;
  font-size: 12px;
  color: palevioletred;
  user-select: none;
  cursor: pointer;
}
.tag i {
  margin-right: 4px;
}
.image-banner{
  margin-top:79px;
  max-width: 1000px; 
  margin-left:auto;
  margin-right: auto;
}