/* .bgImage {
    background-image: url('./public/mall3.jpg');
} */

/* .card {
    border-radius: 0;
    margin: 10px auto;
} */

.card-title {
    text-transform: uppercase;
    color: #E44424;
}

.card-text {
    margin-top: 10px;
    margin-bottom: 10px;
    /* background-color: #FFFFFF; */
    color: #000000;
}

/* a.btn,
a.btn:visited {
    color: #333333;
} */

/* hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
} */

/* div.row {
    margin: 20px 0;
} */
#headingcard {
    font-size: 20px;
}

.card-image {
    max-width: 200px;
    max-height: 200px;
    margin: 20px 0 0 20px;
    /* border-radius: 50%; */
}

/* #banner.card-image{
    margin-top: 70px;
    margin-left: 25px;
margin-bottom: 0;
/* border-radius: 50%; */

#banner.card-title {
    margin-top: 20px;
    margin-right: 10px;
}

.card #Master {
    min-height: 500px;
}

/* .background {
    background-image: url('bgblurbk.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
} */

#facility {
    align-items: center;
    margin:auto;
}

#imgHome{
    transition: all 0.3s ease;
}
#imgHome:hover {
    transform: scale(1.1);
}